/* Main style*/

h1{
    color: #42277F;
    font-weight: bold;
}

h3{
    color: #292254;
}


.btn-primary{
    background-color: #42277F;
    border: none;

}

.btn-primary:hover{
    background-color: #34276C;
}

.btn-primary:focus{
    background-color: #292254;
}

.btn-secondary{
    background-color: rgba(255, 255, 255, 0);
    border-color: #42277F;
    color: #42277F;
}

.btn-secondary:hover{
    background-color: #292254;
    border-color: #292254;
    color: white;
}


.card,.card-header,.card-body{
    background-color: rgba(255, 255, 255, 0.6);
}



/* Welcome page*/

.plane>img:hover{
    transform: rotate(5deg);
    transition: transform 330ms ease-in-out;
}

.heading{
    min-height: 100px;
}

/* login*/
.login{
    background-image: url("/src/images/plane/seat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 12vw;
    padding-bottom: 12vw;
}
